
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, Quicksand, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}
.content-wrapper {
    flex: 1 0 auto;
}
.text-pacifico {
    font-family: 'Pacifico', cursive;
}

nav {
    background-color: #fff;
    padding: 25px 10px;
    text-align: center;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    transition: all 0.5s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav.scrolled {
    background-color: #fff;
    padding: 15px 10px;
}
.navbar {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar .logo {
    margin: 0;
    font-size:xx-large;
    color: #000;
}

nav a {
    color: #000;
    font-weight: 500;
    margin: 0 10px;
    text-decoration: none;
}
.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 20px;
    overflow: hidden;
    padding: 0 10px;
}

.search-container, .filter-container {
    padding: 2px;
    text-align: center;
}
.search-container input, .filter-container select {
    padding: 15px;
    margin: 0;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}
.filter-container select {
    width: 150px;
}
.search-container input{
    width: 200px;
}
.search-container input:focus, .filter-container select:focus {
    outline: none;
}

.hero-banner{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.banner{
    background-color: #fff;
    padding: 50px 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner img{
    width: 500px;
    height: 500px;
}  
.banner p{
    color: #666;
    font-weight: 500;
}

.book-list {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.book {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: start;
    display: flex;
    gap:20px;
    border: 1px solid #fff;
    transition: all 0.5s ease;
}

.book:hover {
    border: 1px solid #BA6729;
}

.book img {
    width: 40%;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.book-info {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.book h3 {
    font-size: 1.2rem;
    margin: 2px 0;
    cursor: pointer;
}

.book p {
    word-break: break-all;
    font-size: 0.9rem;
    color: #666;
}

.pagination {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.pageNumbers {
    padding: 10px 20px;
    margin: 0 5px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.loading {
    text-align: center;
    width: 100%;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 5px;
}

.book-details {
    padding: 20px;
    text-align: center;
}

.book-details h1 {
    margin-bottom: 20px;
}

.book-details img {
    max-width: 200px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #BA6729;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
footer{
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

@media screen and (min-width: 1150px) {
    .book-list {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .body, .navbar {
        width: 80%;
        margin: 0 auto;
    }
    .book-details{
        width: 60%;
        margin: auto;
    }
}

@media screen and (min-width: 998px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .body, .navbar {
        width: 80%;
        margin: 0 auto;
    }
    .book-details{
        width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 997px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .body, .navbar {
        width: 95%;
        margin: 0 auto;
    }
    .navbar {
        flex-direction: column;
        gap: 20px;
    }

}

@media screen and (max-width: 556px) {
    .book-list {
        grid-template-columns: repeat(1, 1fr);
    }
    .body, .navbar {
        width: 95%;
        margin: 0 auto;
    }    
    .nav{
        flex-direction: column;
        gap: 10px;
    }
    .filter{
        flex-direction: column;
    }
    .filter-container select {
        width: 250px;
    }
    .search-container input{
        width: 250px;
    }
    .filter{
        padding: 0px;
    }
}